{% extends "base.html" %}
{% set active_page = "profile" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/info-style.css')}}">
{% endblock %}

{% block content %}
  <!-- User information -->
  <div class="container mt-4">
      <div class="card">
          <div class="card-header">
            <h4>User Information</h4>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>Display Name:</strong> John Doe</li>
              <li><strong>Username:</strong> jdoe</li>
              <li><strong>Date of Creation:</strong> January 1, 2022</li>
              <li><strong>Number of Issues Opened:</strong> 10</li>
              <li><strong>Number of Policies Created:</strong> 5</li>
              <li><strong>Popularity:</strong> 80%</li>
            </ul>
          </div>
        </div>
  </div>
{% endblock %}